<div class="blogs-edit-main">
  <table class="custom-table1">
    <tr>
      <h2>カレンダーを編集する</h2>
      <td class="custom-td3">
        <%= form_with(model: @blog, local: true) do |form| %>
          <div class="title text-center">
            <div class="form-tag text-center">タイトル</div>
            <%= form.text_field :title, :size=>32 %>
          </div>

          <div class="content text-center">
            <div class="form-tag text-center">内容</div>
            <%= form.text_area :content, rows: 3, cols: 31.5 %>
          </div>

          <div class="time text-center">
            <div class="form-tag text-center">時間</div>
            <%= form.datetime_select :start_time %>
          </div>

          <div class="submit mt-4 text-center">
            <%= form.submit "投稿する", style: "background-color: pink;
                                                border: none; border-radius: 30px;
                                                padding: 10px 20px;
                                                color: white; font-weight: bold;"
            %>
          </div>
        <% end %>
      </td>
    </tr>
  </table>
</div>