<div style="display: flex; justify-content: center; align-items: center; height: 100vh; padding: 100px;">
  <table style="border: none; background-color: rgba(255, 255, 255, 0.2); border-radius: 20px">
    <tr>
      <td style="padding: 20px; text-align: center; width: 550px; height: 400px;">
        <%= form_with(model: @blog, local: true) do |form| %>
          <div class="title text-center">
            <div class="form-tag text-center">タイトル</div>
            <%= form.text_field :title, :size=>32 %>
          </div>

          <div class="content text-center">
            <div class="form-tag text-center">内容</div>
            <%= form.text_area :content, rows: 3, cols: 31.5 %>
          </div>

          <div class="time text-center">
            <div class="form-tag text-center">時間</div>
            <%= form.datetime_select :start_time %>
          </div>

          <div class="submit mt-3 text-center">
            <%= form.submit %>
          </div>
        <% end %>
      </td>
    </tr>
  </table>
</div>




