<p id="notice"><%= notice %></p>

<div style="display: flex; justify-content: center; align-items: center; height: 100vh; padding: 100px;">
  <table style="border: none; background-color: rgba(255, 255, 255, 0.2); border-radius: 20px">
    <tr>
      <td style="padding: 20px; text-align: center; width: 550px; height: 400px;">
        <p>
          <strong>タイトル</strong>
          <%= @blog.title %>
        </p>

        <p>
          <strong>内容</strong>
          <%= @blog.content %>
        </p>

        <p>
          <strong>日時</strong>
          <%= @blog.start_time.strftime("%m-%d") %>
        </p>

        <br>
        <%= link_to edit_blog_path(@blog), class: "btn btn-success text-center mt-3 px-4 pt-2", style: "color: white;" do %>
          投稿を編集する
        <% end %>

        <br style="margin-bottom: 10px;">

        <%= link_to blog_path(@blog.id), class: "btn btn-danger text-center mt-2 px-4 pt-2", style: "color: white; margin-top: 10px;", method: :delete, data: { confirm: '本当に削除しますか?' } do %>
          投稿を削除する
        <% end %>

        <br>

        <%= link_to blogs_path, class: "btn btn-secondary text-center mt-2 px-4 pt-2", style: "color: white; width: 32%;" do %>
          戻る
        <% end %>
      </td>
    </tr>
  </table>
</div>