<footer style="background-image: url(<%= asset_path('1.jpg') %>); background-size: cover; height: 80px; width: 100%; display: flex; justify-content: center; align-items: center;">
  <%= link_to parent_path(current_user.id), class: "text-center px-1 pt-3", style: "color: #4682b4" do %>
    <p class="mb-0"><i class="fas fa-history"></i></p>
    <p style="font-size: 0.4em;">タイマー</p>
  <% end %>
  
  <%= link_to blogs_path, class: "text-center px-3 pt-3", style: "color: #4682b4" do %>
    <p class="mb-0"><i class="fas fa-calendar-check fa-lg"></i></p>
    <p style="font-size: 0.4em;">カレンダー</p>
  <% end %>

  <%= link_to parent_path(current_user.id), class: "text-center px-1 pt-3", style: "color: #4682b4" do %>
    <p class="mb-0"><i class="fas fa-bars fa-lg"></i></p>
    <p style="font-size: 0.4em;">メニュー</p>
  <% end %>

  <%= link_to destroy_user_session_path, class: "text-center px-2 pt-3", style: "color: #4682b4", method: :delete do %>
    <p class="mb-0"><i class="fas fa-sign-out-alt fa-lg"></i></p>
    <p style="font-size: 0.4em;">ログアウト</p>
  <% end %>
</footer>