<style>
  @import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

  body {
    font-family: 'Yomogi', cursive;
    margin: 0;
    padding: 0;
  }
</style>

<body>
  <div style="background-image: url('/assets/1.jpg'); background-size: cover; display: flex; align-items: center; justify-content: center; flex-direction: column; min-height: calc(100vh - 80px);">
    <table style="border: none; border-radius: 20px; max-width: 100%; background-color: rgba(255, 255, 255, 0.8);">
      <tr>
        <h2>今日の記録</h2>
        <td style="padding: 20px; text-align: center; width: 500px; height: 430px; font-family: 'Yomogi', cursive;">
          <p class="mt-0 mb-0 text-center">記録する内容を選択して下さい</p>
          <div class="btn-wrapper col-10 mx-auto">
            <%= form_with url: "/babies/#{@baby.id}/create_record" do |f| %>
              <div class="mt-0 mb-3 text-center">
                <%= f.select :item, Record.items_i18n.keys.map{|k| [I18n.t("enums.record.item.#{k}"), k]}, {}, class: "form-control rounded-pill", style: "width: 10rem;", onchange: "toggleAmountField(this)" %>
              </div>

              <div class="mt-0 mb-3 text-center" id="amountField" style="display: none;">
                <%= f.text_field :amount, autofocus: true, autocomplete: "amount", size: "20" , placeholder: "量を入力して下さい", class: "rounded-pill", style: "border-color: white; font-family: 'Yomogi', cursive;" %> ml
              </div>

              <div class="mt-0 mb-3 text-center">
                <p class="mt-0 mb-0 text-center">時間を選択して下さい</p>
                <%= f.time_field :date, autofocus: true, autocomplete: "date", class: "form-control rounded-pill", style: "width: 10rem;" %>
              </div>

              <div class="mt-0 mb-5 text-center">
                <%= f.submit "登録する", class:"btn btn-info btn-sm btn-block rounded-pill mb-3"%>
              </div>
            <% end %>
          </div>
        </td>
      </tr>
    </table>
  </div>
</body>

<script>
  function toggleAmountField(select) {
    var amountField = document.getElementById("amountField");
    var selectedValue = select.value;
    if (selectedValue === "milk" || selectedValue === "breastfeeding") {
      amountField.style.display = "block";
    } else {
      amountField.style.display = "none";
    }
  }
</script>