<style>
  @import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

  body {
    font-family: 'Yomogi', cursive;
    margin: 0;
    padding: 0;
    background-color: white;
  }
</style>

<header style="width: 100%; height: 80px; background-image: url('/assets/1.jpg')" class="px-5">






  <div class="row justify-content-between align-items-end">
  <%= form_with url: "/babies/#{@baby.id}/back_day" do |f| %>
    <input type="hidden" name="date" value="<%= params[:date] %>">
    <%= f.submit "＜", class:"btn btn-secondary btn-sm mb-3"%>
  <% end %>

  <h3 style="margin: 0; color: #4682b4; text-align: center;" class= "pb-1">
      <%= @baby.nickname %>ちゃん<br>
      <%= params[:date] %>
  </h3>




  <% unless @is_hidden %>
    <%= form_with url: "/babies/#{@baby.id}/next_day" do |f| %>
      <input type="hidden" name="date" value="<%= params[:date] %>">
      <%= f.submit "＞", class:"btn btn-secondary btn-sm mb-3"%>
    <% end %>
  <% end %>
  </div>
  </header>

<main class="row flex-grow-1">
    <div class="col-3" style= "background-color: pink;">
    </div>

<div class="col-6" style="position: relative;">
  <% @records.each do |record| %>
    <div>
      <%= record.item_i18n %>
      <%= record.date %>
      <%= record.unit %>
      <%= record.amount %>
    </div>
  <% end %>

  <div class="add-button" style="position: absolute; bottom: 20px; right: 20px;">
    <%= link_to new_record_path(@baby.id) do %>
      <button type="button" class="btn btn-secondary btn-outline-light rounded-circle p-0" style="width: 3rem; height: 3rem;">
        <i class="fa fa-plus"></i>
      </button>
    <% end %>
  </div>
</div>


    </div>

    <div class="col-3" style= "background-color: pink;">


    </div>
  </main>
