<header class="babies-header1 px-5">
  <div class="row justify-content-between align-items-end">
    <% form_with url: "/babies/#{@baby.id}/back_day" do |f| %>
      <input type="hidden" name="date" value="<%= params[:date] %>">
      <%= f.submit "＜", class: "btn btn-secondary btn-sm mb-3" %>
    <% end %>

    <h3 class="header-text1 mx-auto pb-1">
      <%= @baby.nickname %>ちゃん<br>
      <%= params[:date] %>
    </h3>

    <% unless @is_hidden %>
      <% form_with url: "/babies/#{@baby.id}/next_day" do |f| %>
        <input type="hidden" name="date" value="<%= params[:date] %>">
        <%= f.submit "＞", class: "btn btn-secondary btn-sm mb-3" %>
      <% end %>
    <% end %>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="babies-show-main col-lg-3 col-md-3 col-sm-3 col-3"></div>
    <div class="babies-show-main1 col-lg-6 col-md-6 col-sm-6 col-6">
      <% @records.each do |record| %>
        <div>
          <%= record.item_i18n %>
          <%= record.date.strftime('%H:%M') %>
          <%= record.amount %>
          <% if record.item_i18n == "ミルク" || record.item_i18n == "母乳" %>
            <%= record.unit %>
          <% end %>
        </div>
      <% end %>

      <% record = params[:date] %>
      <div class="add-button">
        <%= link_to new_record_path(@baby.id, record) do %>
          <button type="button" class="btn btn-secondary btn-outline-light rounded-circle p-0" style="width: 3rem; height: 3rem;">
            <i class="fa fa-plus"></i>
          </button>
        <% end %>
      </div>
    </div>
    <div class="babies-show-main col-lg-3 col-md-3 col-sm-3 col-3"></div>
  </div>
</div>