<footer style="background-color: rgba(255, 255, 255, 1); height: 120px; width: 100%;">
  <div class="container-fluid mt-auto">
    <div class="row">
      <div class='col-3'>
        <%= link_to root_path, class: "ml-2" do %>
          <%= image_tag('logo.jpg', width: '120px', height: '120px') %>
        <% end %>
      </div>

      <div class='col-6'>
        <div class="text-center pt-4">
          <%= link_to "https://twitter.com/", class: "text-decoration-none mr-1" do %>
            <i class="fab fa-twitter-square h2 text-info"></i>
          <% end %>

          <%= link_to "https://www.facebook.com/", class: "text-decoration-none mr-1" do %>
            <i class="fab fa-facebook h2 text-primary"></i>
          <% end %>

          <%= link_to "https://www.instagram.com/", class: "text-decoration-none mr-1" do %>
            <i class="fab fa-instagram-square h2 text-muted"></i>
          <% end %>

          <%= link_to "https://line.me/ja/", class: "text-decoration-none" do %>
            <i class="fab fa-line h2 text-success"></i>
          <% end %>
        </div>
        <p class="text-center text-muted" style="font-size: 0.8rem; font-family: 'Yomogi', cursive;">&copy; 2023 BabyConnect ALL Rights reserved.</p>
      </div>

      <div class='col-3'>
      </div>
    </div>
  </div>
</footer>