<style>
  @import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
</style>

<div style="background-image: url(<%= asset_path('1.jpg') %>);
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            min-height: calc(100vh - 120px);">

  <h1 style="font-size: 70px;
             text-align: center;
             color: white;
             margin-bottom: 2rem;
             font-family: 'Yomogi', cursive;">
             welcome to BabyConnect</h1>

  <h1 style="font-size: 20px;
             text-align: center;
             color: black;
             margin-bottom: 2rem;
             font-family: 'Yomogi', cursive;">
             BabyConnectは赤ちゃんの日常生活を記録したり<br>カレンダーに予定などをメモできるログアプリです</h1>

  <div class="container">
    <div class="row justify-content-center align-items-end">
      <div class="col-sm-4 col-md-4 col-lg-3 text-center mt-2">
        <% if user_signed_in? %>
          <%= link_to 'Logout', destroy_user_session_path,
                                method: :delete,
                                class: "btn btn-danger rounded-pill btn-sm btn-block text-white",
                                style: "font-family: 'Yomogi', cursive;"
          %>
        <% else %>
          <p style="color: black; font-family: 'Yomogi',
                    cursive; margin-bottom: 0;">
                    2回目以降はこちら</p>
          <%= link_to 'Login', new_user_session_path,
                               class: "btn btn-primary rounded-pill btn-sm btn-block text-white",
                               style: "font-family: 'Yomogi', cursive; margin-top: 0;"
          %>
        <% end %>
      </div>

      <div class="col-sm-4 col-md-4 col-lg-3 text-center mt-2">
        <p style="color: black;
                  font-family: 'Yomogi', cursive;
                  margin-bottom: 0;">ゲストの方はこちら</p>
        <%= link_to 'ゲストLogin', users_guest_sign_in_path,
                                   method: :post,
                                   class: "btn btn-info rounded-pill btn-sm btn-block text-white",
                                   style: "font-family: 'Yomogi', cursive; margin-top: 0;"
        %>
      </div>

      <div class="col-sm-4 col-md-4 col-lg-3 text-center mt-2">
        <p style="color: black;
                  font-family: 'Yomogi',
                  cursive; margin-bottom: 0;">初めての方はこちら</p>
        <%= link_to 'Sign up', new_user_registration_path,
                               class: "btn btn-success rounded-pill btn-sm btn-block text-white",
                               style: "font-family: 'Yomogi', cursive; margin-top: 0;"
        %>
      </div>
    </div>

    <div class="mt-5 text-center">
      <%= link_to "お問い合わせ", "https://forms.gle/RattSh2m6HSGvx4K7",
                                   style: "color: black; font-family: 'Yomogi', cursive;"
      %>
    </div>
  </div>
</div>