<div class="custom-container">
  <div>
    <h1 class="custom-heading-3">Login</h1>
  </div>

  <div class="form">
    <%= form_with(model: resource, local: true, url: session_path(resource_name), method: :post) do |f| %>
      <% flash.each do |name, msg| %>
        <div class="alert alert-danger rounded-pill text-center",style="width: 250px;", role="alert">
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        </div>
      <% end %>

      <p class="mt-4 mb-0 text-center" style="color: black;">メールアドレス</p>
      <div class="mt-0 mb-5 text-center">
        <%= f.email_field :email,
                           autofocus: true,
                           required: true,
                           autocomplete: "email",
                           size: "35",
                           placeholder: "メールアドレスを入力して下さい",
                           class: "rounded-pill",
                           style: "border-color: white;"
        %>
      </div>

      <p class="mt-4 mb-0 text-center" style="color: black;">パスワード</p>
      <div class="mt-0 mb-5 text-center">
        <%= f.password_field :password,
                             required: true,
                             autocomplete: "current-password",
                             :size=>"35",
                             placeholder: "パスワードを入力して下さい",
                             class: "rounded-pill",
                             style: "border-color: white;"
        %>
      </div>

      <div class="mt-0 mb-5 text-center">
        <%= f.submit "送信", class: "btn btn-primary rounded-pill btn-sm btn-block mb-3",
                             style: "width: 290px;
                             display: inline-block;
                             color: white;"
        %>
      </div>
    <% end %>
  </div>
</div>